<!DOCTYPE html>
<html>
<head>
 <title>Movie Recommendation ChatBot| FourBots</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
<body>
    <div class="header">
    <h1><b>Movie Recommendation ChatBot welcomes you !</b></h1>
    <h2 class="description"><b>We Recommend , You watch </b></h4>
    <p><img class="image" src="images/movie.jpg" alt="Customer Bot"></p>
    <div class="boxed">
        <div>
        <div id="chatbox">
            <p class="botText"> <span>Hi! Our ChatBot is under your service</span></p>
        </div>
        <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Message" />
        </div>
        </div>
    </div>
    </div>
   </body>
   </html>