
 * {
    background-color: #333;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    color: #f7c08a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

 }
.header{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    


 }
 .image{
    margin-top: 20px;
   
 }
 .description{
     margin-top: 100px ;
 }

 body, html {
 height: 100%;
 margin: 0;
 font-family: Arial;
 }
 

 #chatbox {
 margin-left: auto;
 margin-right: auto;
 width: 40%;
 margin-top: 60px;
 }
 #userInput {
 margin-left: auto;
 margin-right: auto;
 width: 40%;
 margin-top: 60px;
 }
 #textInput {
 width: 90%;
 border: none;
 border-bottom: 3px solid #f7c08a;
 font-family: monospace;
 font-size: 17px;
 }
 .userText {
 color: white;
 font-family: monospace;
 font-size: 17px;
 text-align: right;
 line-height: 30px;
 }
 .userText span {
 background-color: #808080;
 padding: 10px;
 border-radius: 2px;
 }
 .botText {
 color: white;
 font-family: monospace;
 font-size: 17px;
 text-align: left;
 line-height: 30px;
 }
 .botText span {
 background-color: rgb(107, 97, 97);
 padding: 10px;
 border-radius: 2px;
 }
 #tidbit {
 position: absolute;
 bottom: 0;
 right: 0;
 width: 300px;
 }
 .boxed {
 margin-left: auto;
 margin-right: auto;
 width: 100%;
 margin-top: 60px;
 
 }
